<header>
  <div class="header-inner">
    <h1 class="header-title">
      <div id="logo">
        <a routerLink="">
          <img src="../../assets/logo.svg" alt="">
        </a>
      </div>
    </h1>
    <nav>
      <ul class="nav-items">
        <li class="nav-item"><a [class.activePage]="projectsActive" href="">PROJECTS</a></li>
        <li class="nav-item"><a [class.activePage]="aboutActive" href="">ABOUT</a></li>
        <li class="nav-item"><a [class.activePage]="contactActive" href="">CONTACT</a></li>
      </ul>
    </nav>
    <button class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
