<div class="projectsContainer">
  <app-header [projectsActive]="true"></app-header>


  <main>


    <div  class="categories">
      <div [class.active]="isCategoryActive" class="categories-inner">
      <div class="categories-items">
        <p>categories</p>
        <ul class="category-list">
          <li (click)="allList()" >ALL PROJECTS</li>
          <li  (click)="developmentList()"  >DEVELOPMENT</li>
          <li  (click)="caseStudytList()">CASE STUDY</li>
          <li (click)="othertList()" >OTHERS</li>
        </ul>
      </div>
      </div>


    <div *ngIf="active; else inActive">
      <button  (click)="categoryBtn()" class="categories-btn">categories</button>
    </div>
    <ng-template #inActive>
      <button (click)="categoryBtn()" class="categories-btn">close</button>
    </ng-template>
 
    
  </div>
  
    <section [class.active]="project.display" #section *ngFor="let project of projects;let i = index">
      <div class="headline-wrap">
        <h2>{{ project.title }}</h2>

        <div class="description-wrap">
          <div class="desctiption">
            <p>ROLES</p>
            <ul *ngFor="let roles of project.roles">
              <li>{{ roles.role }}</li>
            </ul>
          </div>

          <div class="desctiption">
            <p>SKILL</p>
            <ul *ngFor="let skills of project.skills">
              <li>{{ skills.skill }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div #imgWrap class="img-wrap">
        <a href="">
          <img [src]="project.img" alt="" />
        </a>
      </div>
    </section>
  </main>

  <app-footer></app-footer>
</div>
