<div class="projectsContainer">
  <app-header [projectsActive]="true"></app-header>
  <main>


    <div class="categories-btn">
      <button>categories</button>
    </div>
    <div class="categories">
      <p>categories</p>
      <ul>
        <li>ALL PROJECTS</li>
        <li>DEVELOPMENT</li>
        <li>CASE STUDY</li>
        <li>OTHERS</li>
      </ul>
      <p class="close-btn">close</p>
    </div>

    <section>
      <div class="headline-wrap">
        <h2>美稀 Miki</h2>

        <div class="desctiption-wrap">
          <p>ROLES</p>
          <ul>
            <li>Branding</li>
            <li>Design</li>
            <li>Development</li>
            <li>Management</li>
          </ul>
        </div>

        <div class="desctiption-wrap">
          <p>SKILL</p>
          <ul>
            <li>Angular</li>
            <li>Strapi</li>
            <li>Illustrator</li>
            <li>Figma</li>
          </ul>
        </div>
      </div>

      <div class="img-wrap">
        <img src="../../assets/projects/miki.jpg" alt="">
      </div>

    </section>



    <section>
      <div class="headline-wrap">
        <h2>美稀 Miki</h2>

        <div class="desctiption-wrap">
          <p>ROLES</p>
          <ul>
            <li>Branding</li>
            <li>Design</li>
            <li>Development</li>
            <li>Management</li>
          </ul>
        </div>

        <div class="desctiption-wrap">
          <p>SKILL</p>
          <ul>
            <li>Angular</li>
            <li>Strapi</li>
            <li>Illustrator</li>
            <li>Figma</li>
          </ul>
        </div>
      </div>

      <div class="img-wrap">
        <img src="" alt="">
      </div>

    </section>



    <section>
      <div class="headline-wrap">
        <h2>美稀 Miki</h2>

        <div class="desctiption-wrap">
          <p>ROLES</p>
          <ul>
            <li>Branding</li>
            <li>Design</li>
            <li>Development</li>
            <li>Management</li>
          </ul>
        </div>

        <div class="desctiption-wrap">
          <p>SKILL</p>
          <ul>
            <li>Angular</li>
            <li>Strapi</li>
            <li>Illustrator</li>
            <li>Figma</li>
          </ul>
        </div>
      </div>

      <div class="img-wrap">
        <img src="" alt="">
      </div>

    </section>
  </main>
  
  <app-footer></app-footer>
</div>
