@import "../../styles.scss";

.headline {
  @include centerCenter($j: flex-end);
  flex-direction: column;
  min-height: 10vh;
  text-align: center;
  color: #0d0d0d;
  #logo {
    font-size: 1rem;
  }
  p {
    font-size: 12px;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  z-index: -1;
}

section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 70%;
  width: 90%;
  position: relative;
  overflow: hidden;
  #myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.desc {
  position: absolute;
  top: 60%;
  left: 60%;
  color: #0d0d0d;
  font-size: 50px;
  transform: translate(-60%, -60%);
  z-index: 10;
  opacity: 0;
}
.nav {
  width: 100%;
  position: absolute;
  top: 50%;
  font-size: 50px;
  text-align: center;
  transform: translateY(-60%);
  z-index: 5;
  ul {
    width: 100%;
    @include centerCenter($j: space-around);
    list-style: none;
    a {
      color: white;
      text-decoration: none;
      letter-spacing: 0;
    }
    a:hover,
    a:active {
      letter-spacing: 5px;
    }
    a:after,
    a:before {
      border: 1px solid white;
      bottom: 0px;
      content: "";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 200ms ease-in-out;
      width: 5%;
    }
    a:hover:after,
    a:hover:before{
      border-color: white;
      transition: width 300ms ease-in-out;
      width: 100%;
    }
    a:hover:before{
      bottom: auto;
      top: 0;
      width: 100%
    }
  }
}

.contact {
  @include centerCenter();
  a {
    color: #0d0d0d;
    text-decoration: none;
  }
  a:hover {
    color: aqua;
  }
}
