<header>
  <div #headline class="headline">
    <h3 id="logo" class="">YUKA YAMAMOTO</h3>
    <p class="">I'm a Front-end developer.</p>
  </div>
  <section>
    <div #container id="container">
      <canvas #myCanvas id="myCanvas"></canvas>
      <div class="nav">
        <ul class="row">
          <li class="col-sm-12 col-md-3 projects">
            <a class="links" href="#">PROJECTS</a>
          </li>
          <li class="col-sm-12 col-md-3 about">
            <a class="links" href="#">ABOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</header>
<p class="desc">Be active.<br />Be curious.<br />Be human.</p>
<div class="slider"></div>
<footer>
  <p class="contact"><a href="">CONTACT</a></p>
</footer>
