<header>
  <div #headline class="headline">
    <h3 id="logo" class="">YUKA YAMAMOTO</h3>
    <p class="">I'm a Front-end developer.</p>
  </div>
  <section>
    <div class="hero">
      <img src="../../assets/universe.jpg" alt="" />
      <p class="desc">Be active. Be curious. Be human.</p>
      <div class="nav">
        <ul class="row">
          <li class="col-3 projects"><a href="#">PROJECTS</a></li>
          <li class="col-3 about"><a href="#">ABOUT</a></li>
        </ul>
      </div>
    </div>
  </section>
</header>
<footer>
  <p class="contact"><a href="">CONTACT</a></p>
</footer>
<div class="slider"></div>

